/* ===== Base Styles ===== */
body {
  font-family: $font-family-base;
  color: $body-color;
  text-align: left;
}


span {
  color: $info;
  font-weight: 700;
}

figure {
  margin: 2rem 0;
}

figcaption {
  font-size: 0.875rem;
  color: $info;
  text-align: center;
  margin-top: 1rem;
  font-style: italic;
}	