/*------------------------------------*\
  # BASE:  Estilos base
  Aplica estilos globales pero genéricos no específicos de proyecto.
\*------------------------------------*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}