.conference-agenda {
    font-family: $headings-font-family;

    &__title {
        margin-bottom: 1rem;
        text-transform: uppercase;
          color: var(--color-primary);
        font-weight: 700;

        @supports (display: grid) {
            margin-bottom: 0;
        }
    }

    &--full {
        grid-column: 1 / -1;
    }

    &--half {
        @media (min-width: 768px) {
            grid-column: span 3;
        }

        @media (min-width: 1200px) {
            grid-column: span 4;
        }
    }

    &__event,
    &__talk {
        background-color: $cards-bg;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 8px;
        color: $body-color;
        font-family: $headings-font-family;
        text-transform: none;

        @supports (display: grid) {
            margin: 0;
        }
    }

    &__event {
        background-color: #f5c145;
        text-align: left;

        &-topic {
            font-family: $font-family-base;
            color: white;
            font-weight: 600;
            margin: 0.6rem 0;
        }

        &-description {
            font-family: $font-family-base;
            font-size: 0.8rem;
            margin: 0.6rem 0;
        }
    }

    &__talk {
        background-color: $cards-bg;

        &-time {
            font-weight: bold;
            margin: 0.5rem 0;
        }

        &-topic {
            font-family: $font-family-base;
            color: white;
            font-weight: 600;
            margin: 0.6rem 0;
        }

        &-description {
            font-family: $font-family-base;
            font-size: 0.8rem;
            margin: 0.6rem 0;
        }

        &-speaker {
            font-weight: 500;

            &-position {
                font-weight: 300;
                font-size: 0.8rem;
            }
        }
    }

    // Mejora progresiva: Grid para desktop
    @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @media (min-width: 768px) {
            grid-template-columns: repeat(6, 1fr);
        }

        @media (min-width: 1200px) {
            grid-template-columns: repeat(8, 1fr);
        }
    }
}