/* ===== Block: Program ===== */
// .program {}

.program__title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.program__event {
    background-color: #f5c145;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    font-weight: bold;
    text-align: left;
}