/**
 * LAYOUTS
 */


/* ===== Layout: Main ===== */
.main {
    background: #ffffff;
    padding: 1rem 1rem;
    margin-top: -7rem;

    @media screen and (max-width: 932px) and (orientation: landscape) {
        /* Estilos para mobile en landscape */
        margin-top: auto;
    }

    @media (min-width: 1024px) {
        /* Estilos para mobile en portrait */
        margin-top: auto;
        padding: 5rem;
        
    }
}


/* ===== Block: Talks ===== */
// .talks {}

.talks__title {
    margin: 2rem 0 1rem;
    font-size: 1.5rem;
}

.talks__item {
    margin-bottom: 1rem;
}

/* ===== Fallback Flexbox ===== */
.main,
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}