<section class="conference-agenda">
  <h3 class="conference-agenda__title">Programa:</h3>

  <div class="conference-agenda__event">
    <p class="conference-agenda__event-time">09:00 | Recepción y acreditaciones</p>
  </div>

  <div class="conference-agenda__event">
    <p class="conference-agenda__event-time">10:00 | Inauguración</p>
  </div>

  <h4 class="conference-agenda__title">Ponencias:</h3>
  <div class="conference-agenda__talk">
    <p class="conference-agenda__talk-time">03 de Sept - 11:00 hrs</p>
    <p class="conference-agenda__talk-topic">Circularidad en los plásticos de RAEE</p>
    <p class="conference-agenda__talk-speaker">Paula León</p>
    <p class="conference-agenda__talk-speaker-position">CEO Sostenplas SL</p>
  </div>

  <div class="conference-agenda__talk">
    <p class="conference-agenda__talk-time">03 de Sept - 12:00 hrs</p>
    <p class="conference-agenda__talk-topic">Economía Circular aplicada a residuos</p>
    <p class="conference-agenda__talk-speaker">Juan Pérez</p>
    <p class="conference-agenda__talk-speaker-position">Consultor Independiente</p>
  </div>

  <div class="conference-agenda__event">
    <p class="conference-agenda__event-time">12:30 | Pausa - aperitivo </p>
  </div>

  <div class="conference-agenda__talk">
    <p class="conference-agenda__talk-time">03 de Sept - 13:30 hrs</p>
    <p class="conference-agenda__talk-topic">Innovaciones en reciclaje electrónico</p>
    <p class="conference-agenda__talk-speaker">Ana Gómez</p>
    <p class="conference-agenda__talk-speaker-position">Directora Técnica Reciclajes S.A.</p>
  </div>

  <div class="conference-agenda__talk">
    <p class="conference-agenda__talk-time">03 de Sept - 14:00 hrs</p>
    <p class="conference-agenda__talk-topic">Normativas europeas sobre RAEE</p>
    <p class="conference-agenda__talk-speaker">Luis Martínez</p>
    <p class="conference-agenda__talk-speaker-position">Asesor Legal Medioambiental</p>
  </div>

  <div class="conference-agenda__event">
    <p class="conference-agenda__event-time">14:30 | Pausa - comida</p>
  </div>
</section>