  <!-- Footer Section -->
  <footer class="footer">
    <div class="footer__logo"></div>
    <nav class="footer__nav">
        <a class="footer__link" href="#">Inicio</a>
        <a class="footer__link" href="#">Programa</a>
        <a class="footer__link" href="#">Sobre el futuro redondo</a>
        <a class="footer__link" href="#">Contacto</a>
    </nav>
    <button class="footer__cta">Sé parte del futuro redondo</button>
    <div class="footer__social">
        <!-- <a class="footer__social-link" href="#"><img src="facebook-icon.svg" alt="Facebook"></a>
        <a class="footer__social-link" href="#"><img src="instagram-icon.svg" alt="Instagram"></a>
        <a class="footer__social-link" href="#"><img src="twitter-icon.svg" alt="Twitter"></a> -->
    </div>
</footer>
