<header>
    <nav class="menu">
      <div class="logo">
        <!-- <a href="index.html" class="logo-anchor"><img class="logo-anchor" src="" alt=""></a> -->
      </div>
      <div class="list-container">
        <ul class="unordered-list" id="nav-list">
          <li><a href="" class="active">Sobre las jornadas</a></li>
          <li><a href="" class="active">Ponentes</a></li>
          <li><a href="" class="active">Blog</a></li>
          <li><a href="" class="active">Más sobre las jornadas (links)</a></li>
        </ul>
      </div>
    </nav>
  </header>